{% extends "KingFooBookmarkerBundle::layout.html.twig" %}

{% block header %}<h3>Bookmarks for tag <strong>“{{ tag }}”</strong>{% endblock %}

{% block content %}
    <div class="list-group">
        {% for bookmark in bookmarks %}
            <div class="list-group-item">
                <div class="clearfix">
                    <h4 class="list-group-item-heading pull-left"><a href="{{ bookmark.url }}">{{ bookmark.url }}</a></h4>
                    <p class="list-group-item-heading pull-right"><small class="text-muted">{{ bookmark.createdAt | date("j F Y, G:i") }}</small></p>
                </div>
                <p class="list-group-item-text">{{ bookmark.description }}</p>
            </div>
        {% endfor %}
    </div>
    {{ include("KingFooBookmarkerBundle::pagination.html.twig", { route: "bookmarker_tag", params: { tag: tag } }) }}
{% endblock %}
